body {
    font-family: Arial, Helvetica, sans-serif;
	 width: 100%;
     height: 100%;
    color: rgb(174, 198, 221);   
   background: #f0f0f0;	 
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}
/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}


/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
   #userlogin {
   position: fixed;
   width: 340px;
   height: 280px;
   top: 50%;
   left: 50%;
   margin-top: -140px;
   margin-left: -170px;
}
form {
margin: 0 auto;
margin-top: 20px;
}
label {
color: rgb(12, 8, 8);
display: inline-block;
margin-left: 18px;
padding-top: 10px;
font-size: 14px;
}
p a {
font-size: 11px;
color: rgb(10, 7, 7);
float: right;
margin-top: -13px;
margin-right: 20px;
}
p a:hover {
color: rgb(10, 9, 9);
}
input {
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size: 12px;
outline: none;
}
input[type=text],
input[type=password] {
color: rgb(12, 11, 11);
padding-left: 10px;
margin: 10px;
margin-top: 12px;
margin-left: 18px;
width: 290px;
height: 35px;
}
input[type=submit] {
float: right;
margin-right: 20px;
margin-top: 20px;
width: 200px;
height: 30px;
font-size: 14px;
font-weight: bold;
}
input[type=submit] {
float: right;
margin-right: 20px;
margin-top: 20px;
width: 80px;
height: 30px;
font-size: 14px;
font-weight: bold;
}